.body {
    background-color: #ffffff;
}

.footer-index {
    color: rgb(9, 119, 119);
    padding-bottom: 25px;
}

.move {
    width: 100px;
    height: 25px;
    background: aquamarine;
    transition: width 2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }

div:hover {
        width: 375px;
    }

.mouseover {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 2px 25px;
    text-align: center;
    width: 93%;
}

.w3-half {
    float: left;
    width: 100%;
}