.back {
    text-align: right;
    text-decoration: none;
}

div a {
    text-decoration: none;
    margin: 0 50px 0 0;
    font-size: 1rem;
    color: darkorchid;
}

body {
    background: lightblue;
}

div h1 {
    color: wheat;
    text-align: center;
}

div p {
margin: 10px;
padding: 5px;
border: 1px solid #999;
}

p { 
    margin: 0;
    text-indent: 3ch;
}

p.pilcrow {
    text-indent: 0;
    display: inline;
}

p.pilcow + p.pilcrow::before {
    content: " ¶ ";
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}