.back {
    text-align: right;
    text-decoration: none;
}

div a {
    text-decoration: none;
    margin: 0 50px 0 0;
    font-size: 1rem;
    color: darkorchid;
}

body {
    background: lightblue;
}

div h1 {
    color: wheat;
    text-align: center;
}

div p {
margin: 10px;
padding: 5px;
border: 1px solid #999;
}

p { 
    margin: 0;
    text-indent: 3ch;
}

p.pilcrow {
    text-indent: 0;
    display: inline;
}

p.pilcow + p.pilcrow::before {
    content: " ¶ ";
}